.mdl-layout__drawer-button .material-icons {
	padding-top: 10px !important;
     
  }

.android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }
.android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

 .android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }
  .mdl-layout__drawer>.mdl-layout__title, .mdl-layout__drawer>.mdl-layout-title {
    line-height: 56px;
    padding-left: 16px;
    padding-top: 40px !important;
    padding-bottom: 60px !important;
    background-color: rgb(63,81,181) !important;
    color: white;
}
.mdl-layout__drawer .mdl-navigation {
    
    padding-top: 1px !important;
}